.top-side {
    display: flex;
    justify-content: center;
}

.pos-h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

button, a {
    background-color: #000;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: double;
    cursor: pointer;
}

button:active, a:active{
    background-color: #fff;
    color: #000;
}

 /* After button click */
#darken, #darken2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  #window, #window2 {
    width: 18em;
    height: 10em;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
    font-size: 1.25em;
  }

  #window2 {
    width: 14em;
    height: 7em;
  }

  #darken:target, #darken2:target {display: block;}
  .close, .close2 {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 100em;
    color: #ff0000;
    padding: 0 0.18em;
    text-decoration: none;
    background: #ff0000;
    font-size: 1em;
    cursor: pointer;
    position: relative;
   
  }

  .close {
    right: 10.5em;
    bottom:0.5em;
  }

  .close2 {
    right: 11.7em;
    bottom:1.7em;
  }

  .close:hover, .close2:hover {
    background: #ff0000;
    color: #000
  }


 /* New data  */
input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.add {
    position: relative;
    top: 2em;
    left: 5em;
}

.add, .yes, .no {
    font-size: 1em;
    border: 1px solid #fff;
}

 /* All the cards */
.title {
    font-size: 2em;
}

.stylus {
    border: double;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 1em;
}

.del {
    border: double;
    font-size: 1.5em;
    margin: 1em;
}

del:active:hover {
    background-color: #ff0000;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}